ul, i,ol,body,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,blockquote,figure,form,fieldset,input,legend,pre,abbr,button {
    margin:0;
    padding:0;
    list-style:none;
    font-style: normal;
}
body{ "HanHei SC","PingHei","PingFang SC","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif;
}
*{
    box-sizing:border-box;
    font-size:12px;
}

a{
    text-decoration: none;
}
img{
    border:none;
    vertical-align: middle;
}
.header{
    width:100%;height:auto;
}
.header-content{
    width:1600px;height:auto;
    background:#999999;
    margin: 0 auto;
}
.nav{
    width:100%;height:auto;
    background:#faf9fc;
    min-width:1200px;
    margin: 0 auto;
}
.nva-1{
    width:1200px;height:96px;
    background:#faf9fc;
    margin:0 auto;
}
.nav-content{
    width:auto;height:96px;
    text-align:center;
    line-height:96px;
    float:left;
}
.nav-title{
    width:152px;height:96px;
    text-align:center;
    line-height:96px;
    display:inline-block;
    color:#848686;
    font-size:18px;
}
.banner{
    width:100%;height:770px;
    background:blue url(../images/banner.png) no-repeat center center;
    /*background-position:center center;*/
    min-width:1200px;
}
.banner-content{
    width:1600px;height:770px;
    margin:0 auto;
    min-width: 1200px;
}
.speed{
    height:300px;
    float:left;
    margin-top:270px;
    margin-left:150px;
}
.sub-speed{
    font-size:44px;
    line-height:75px;
    text-align:left;
    color: #fff;
}
.rep {
    width:1200px;height:530px;
    margin:0 auto;
    line-height: 530px;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}
.rep-img{
    width:400px;height:400px;
}
.news{
    width:1200px;height:640px;
    margin: 0 auto;
}
.news-title{
    width:100%;height:86px;
    background:#fff;
    color:#81141b;
}
.title-Chinese{
    width:100%;height:54px;
    text-align:center;
    line-height:54px;
    font-size: 48px;
}
.title-English{
    width:100%;height:32px;
    text-align:center;
    line-height:32px;
    font-size: 18px;
}
.news-content{
    width:100%;height:554px;
    border:1px solid #fff;
}
.left-content{
    width:430px;height:216px;
    z-index:1111;
    float: left;
    background:#dd1015 url(../images/4.jpg)  no-repeat top 10px center;
    margin-top: 160px;
    border-top: 1px solid #dd1015;
}
.right-content{
    width:796px;height:260px;
    background:#252222;
    margin-left:402px;
    margin-top: 140px;
    z-index:111;
    border-top:1px solid #252222;
}
.left-content-title{
    padding-top:150px;
    height:30px;
    line-height:30px;
    font-size:24px;
    color:#fefdfd;;
    text-align:center;
}
.right-content-hk{
    height: 180px;
    margin-top:36px;
    margin-left:110px;
}
.hk-title{
    height:30px;
    font-size:14px;
    line-height: 30px;
    color:#fefdfd;
}
.hk-img{
    width:1200px;height:1080px;
    margin:0 auto;
}
.hk-play{
    width:400px;height:540px;
    float:left;
}
.hk-play-title{
    width:100%;height:40px;
    font-size:30px;
}
.hk-play-sub-title{
    width:100%;height:500px;
}
.zs{
    width:1200px;height:622px;
    margin:0 auto 114px;
}
.tz{
    width:752px;height:622px;
    background:#cdcdcf;
    float:left;
}
.tz-title{
    height:370px;
    margin-left:66px;
    margin-top:126px;
}
.tz-essy-1{
    height:123px;

}
.tz-essy{
    height:41px;
    line-height:41px;
}
.ck-more{
    width:280px;height:80px;
    background:#020202;
    color:#848686;
    border-radius:5px;
    margin-top:30px;
    margin-left:300px;
    text-align:center;
    line-height:80px;
    font-size:20px;
}
.play-for{
    width:404px;height:292px;
    background:#cdcdcf;
    float:right;
    border: 1px solid #cdcdcf;
}
.HX{
    width:300px;height:160px;
    margin:66px auto;
}
.NH{
    height:40px;
}
.TJ-HX{
    height:40px;
}
.kk-mor{
    width:280px;height:80px;
    background:#020202;
    color:#848686;
    border-radius:5px;
    text-align:center;
    margin-top: 47px;
    margin-left: 20px;
    line-height:80px;
    font-size:20px;
}
.download{
    width:1200px;height: 218px;
    margin:0 auto 46px;
}
.update{
    width:auto;height:54px;
    line-height:54px;
    font-size:18px;
    float:left;
    padding-left:42px;
}
.more{
    height:54px;
    float:right;
    line-height:54px;
    font-size:18px;
}
.edition{
    width:1160px;height:160px;
    border:1px solid #000;
    float:right;
}
.edition-title{
    height:26px;
    line-height:26px;
    padding-left:10px;
}
.footer{
    width:1200px;height:auto;
    margin:0 auto;
}
.about-us{
    width:1160px;height:240px;
    float:right;
    margin-bottom:20px;
}
.about-us-title {
    width: 100%;
    height: 52px;
    text-align: center;
    font-size: 18px;
}
.map{
    width:500px;height:186px;
    float:left;
}
.map-1{
    width:500px;height:186px;
    float:right;
}
.adr{
    height:26px;
    font-size:14px;
}
.time {
    width: 1160px;
    height: 304px;
    float: right;
    border-top: 1px solid #fff;
    background: url(../images/35.jpg) no-repeat 800px 0;
}
.lx{
    width:170px;height:90px;
    float:left;
    margin-top:70px;
}
.logo{
    width:44px;height:44px;
    margin-left:5px;
}
.lx-time{
    height:20px;
    line-height: 20px;
    font-size:14px;
}
.footer-bottom{
    width:100%;height:300px;
    float:left;
    background:#eee;
}
.phone{
    width:100%;height:62px;
}
.number{
    width:100%;height:62px;
    line-height:62px;
    text-align: center;
    font-size:30px;
}
.number>span{
    font-size:24px;
}
.more-fw{
    width:100%;height:180px;
    border-top:2px solid #cbc9c9;
}
.zc{
    width:1160px;height:178px;
    margin-left:40px;
}
.zc-title{
    width:230px;height:152px;
    float:left;
    border-top:1px solid #cbc9c9;
}
.zc-art-title{
    height:76px;
    line-height:76px;
    font-size:18px;
}
.zc-sub-title{
    height:30px;
    line-height:30px;
    font-size:14px;
}
.inline-zx{
    width:128px;height:34px;
    border-radius:17px;
    background:#de0f15;
    text-align:center;
    line-height:34px;
    margin-top:60px;
    margin-bottom:10px;
}
.inline-icon{
    width:128px;height:26px;
    line-height:26px;
}
.inline-sub-icon{
    width:24px;height:24px;
    margin-right:9px;
    margin-left:9px;
    float: left;
}
.copyright{
    width:100%;height:58px;
    background:#000;
    line-height:58px;
    color:#fff;
}