ul, i,ol,body,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,blockquote,figure,form,fieldset,input,legend,pre,abbr,button {
    margin:0;
    padding:0;
    list-style:none;
    font-style: normal;
}
/*body{ "HanHei SC","PingHei","PingFang SC","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif;
}*/
*{
    box-sizing:border-box;
    font-size:12px;
    color:#999;
}
a{
    text-decoration: none;
    outline:0;
}
img{
    border:none;
    vertical-align: middle;
}
/*顶部*/
.head{
    width:100%;height:32px;
    background:#f2f2f2;
    border-bottom:1px solid #e5e5e5;
    border-top:1px solid #f2f2f2;
}
.top{
    width:1230px;height:16px;
    /*border:1px solid blue;*/
    margin:0 auto;
    margin-top:8px;
}
.top-left{
    width:210px;height:auto;
    /*background:red;*/
    float:left;
}
.welcome{
    width:84px;height:auto;
    float:left;
}
.land{
    width:58px;height:auto;
    float:left;text-align:right;
    font-size:12px;
}
.land>a:hover{
    color:#C40000;
}
.top-right{
    width:690px;height:auto;
    /*background:red;*/
    float:right;
}
.my{
    width:67px;height:auto;
    float:left;
}
.brand{
    width:104px;height:auto;
    float:left;
}
.college{
    width:69px;height:auto;
    float:left;
}
.brand>img{
    list-style:none;
    vertical-align:middle;
    display:block;
    padding-top:2px;
}
.my>a:hover{
    color:#C40000;
}
.brand>a:hover{
    color:#C40000;
}
.college>a:hover {
    color:#C40000;
}
.searchs{
    width:1230px;height:130px;
    margin:0 auto;
}
.logo{
    width:240px;height:130px;
    float:left;
}
.logo img{
    width:220px;height:130px;
    display:block;
}
.import{
    width:627px;height:75px;
    padding-top:38px;
    margin-left:317px;
}
.import1{
    width:627px;height:37px;
    border:2px solid #C40000;
}
.shoes{
    width:427px;height:33px;
    line-height:35px;
    border:none;
    padding-left:5px;
}
.search{
    float:right;
    width:130px;height:35px;
    background:#C40000;
    font-size:20px;
    text-align:center;
    line-height:35px;
    color:#fff;
}
.search a{
    font-size:20px;
    color:#fff;
}
.import-link{
    width:627px;height:30px;
    margin-top:5px;
}
.import-link a{
    font-size:14px;
}
/*body开始*/
.box{
    width:100%;height:12671px;
    background: #f5f5f5;
}
.content{
    width:100%;height:536px;
    background:#E8E8E8;
    margin:0 auto;
}
.box-1{
    width:100%;height:36px;
    background:#DD2727;
}
.separate{
    width:1230px;height:36px;
    /*background:red;*/
    margin:0 auto;
}
.separate>.icon{
    color:#fff;
}
.separate-2>.icon{
    color:#fff;
}
.separate-1{
    width:200px;height:36px;
    /*background:yellow;*/
    float:left;
    padding-left:10px;
}
.separate-2{
    width:120px;height:36px;
    /*background:blue;*/
    color: #fff;
    float:left;
    padding-left:15px;
    font-size:18px;
}
@font-face {
    font-family: 'iconfont';  /* project id 225179 */
    src: url('http://at.alicdn.com/t/font_ogfmo4wpwps6ecdi.eot');
    src: url('http://at.alicdn.com/t/font_ogfmo4wpwps6ecdi.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_ogfmo4wpwps6ecdi.woff') format('woff'),
    url('http://at.alicdn.com/t/font_ogfmo4wpwps6ecdi.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_ogfmo4wpwps6ecdi.svg#iconfont') format('svg');
}
.icon{
    font-family:'iconfont';
    height:auto;
    line-height: 36px;
    font-size:18px;
    display:block;
}
.separate-3{
    width:94px;height:36px;
    /*background:black;*/
    float:left;
    font-size:18px;
    line-height:36px;
    color: #fff;
    text-align:center;
}
.separate-4{
    width:78px;height:36px;
    /*background:orange;*/
    float:left;
    font-size:18px;
    color: #fff;
    line-height:36px;
    text-align:center;
}
/*左边*/
.box-2{
    width:100%;height:36px;
    background:#E8E8E8;
}
.banner{
    width:100%;height:500px;
    /*background:#E8E8E8 url(../images/xxx.jpg) center center;*/
    margin:0 auto;
    position: relative;
}
.banner a img{
    /*width:482px;*/
    /*display:block;*/
    margin:0 auto;
    /*float:left;*/
    position: absolute;
}
.banner-left{
    width:200px;height:500px;
    background:#E8E2E2;
    float:left;
    margin-left:60px;
}
.banner-left a{
    color:#000;
}
.shopping{
    width:200px;height:31.2px;
    background:#EEEEEE;
}
.banner-right{
    width:100px;height:480px;
    background-color:rgba(0,0,0,.5);
    transition: background-color .2s;
    float:right;
    margin-top:10px;
    color:#fff;
}
.banner-right:hover{
    background-color:#2b2a2a;
}
.banner-right-top1{
    width:100px;height:90px;
    background: url(../images/index2.png) no-repeat 15px 12px;
}
.banner-right-top2{
    width:80px;height:83px;
    /*background:blue;*/
    margin:0 auto;
}
.banner-right-top2 a{
    display:block;
}
.nh{
    width:80px;height:18px;
    text-align: center;
    line-height: 18px;
    color:#fff;
}
.qdl{
    width:80px;height:24px;
    margin-top:8px;
}
.qdl-dl{
    width:80px;height:24px;
    /*background:red;*/
    display:block;
    border-radius:12px;
    border-bottom:1px;
}
.ico{
    font-size:12px;
    text-align:center;
    line-height:24px;
    color:#fff;
}
.zc{
    width:80px;height:24px;
    display:block;
    text-align:center;
    line-height:24px;
    margin-top: 8px;
    color:#fff;
}
.banner-right-middle{
    width:100px;height:147px;
    /*background:orange;*/
}
.more-info-con{
    width:100px;height:98px;
    float:left;
    margin-top:20px;
    /*background:blue;*/
}
.more-info li{
    width:100px;height:22px;
    /*background:black;*/
    text-align:center;
    line-height:22px;
}
.more-info li>i{
    color:#fff;
}
.more-info li>i>span{
    color:#fff;
}
.more-info li>a>span{
    color:#fff;
}
.banner-right-bottom{
    width:100px;height:154px;
    /*background:yellow;*/
}
.con-title{
    width:100px;height:24px;
    text-align: center;
    line-height:24px;
}
.ig{
    width:100px;height:86px;
}
.banner-right-bottom>a>.ig>img{
    height:57px;
    width:57px;
    margin:17px 21px 7px 21px;
    display:block;
    border-radius:28px;
}
.title{
    width:100px;height:22px;
    text-align: center;
    line-height:22px;
}
.sub-title{
    width:100px;height:22px;
    text-align: center;
    line-height:22px;
}
.middle-body{
    width:100%;height:auto;
    margin-top:60px;
}
.middle-body-1{
    width:1230px;height:436px;
    /*background:red;*/
    overflow:hidden;
    margin:0 auto;
}
.middle-body-1>a{
    width:488px;height:436px;
    display:block;
    float:left;
}
.init{
    width:732px;height:100%;
    background-color:#f5f5f5;
    float:right;
    margin-right:-1px;
    position:relative;
}
.brand-item{
    width:122px;height:109px;
    border-right:1px solid #f5f5f5;
    border-bottom:1px solid #f5f5f5;
    background:#fff;
    float:left;
}
.brand-img{
    width:121px;height:108px;
    text-align:center;
    line-height:108px;
}
.hyp{
    font-family:'iconfont';
    width:40px;height:40px;
    margin:20px 40px 34px 40px;
    text-align:center;
    display:block;
    font-size:14px;
}
.hyp>i{
    font-size:30px;
}
.brand-item>.hyp{
    text-align:center;
}
.body-middle{
    width:1230px;height:477px;
    margin:32px auto;
    /*background:blue;*/
}
.more-life{
    width:238px;height:477px;
    background: #000;
    float:left;
    margin-right:10px;
}
.col-title{
    width:238px;height:37px;
    /*background:red;*/
    font-family:'iconfont';
    font-size:18px;
    font-weight:700;
    line-height:36px;
    text-align:center;
}
.wz1{
    font-size:18px;
    font-weight:700;
    color: #fff;
}
.text{
    font-size:18px;
    font-weight:700;
    color: #fff;
}
.hxp{
    width:238px;height:220px;
    background:#fff;
    display:block;
}
.item-title{
    display:block;
    width:100%;
    font-size:22px;
    height:24px;
    color:#000;
    line-height:24px;
    /*margin-top:19px;*/
    text-align:center;
}
.item-sub-title{
    display: block;
    color:#888;
    font-size:14px;
    height:14px;
    line-height:14px;
    text-align:center;
}
.seprate{
    height:1px;
    width:200px;
    background-color:#EEE;
    margin:12px auto;
}
.img-con{
    display: block;
    width:140px;height:140px;
    /*background:red;*/
    margin:19px auto 0;
    position: relative;
}
.img-mask{
    position: absolute;
    left: 0;
    top: 0;
    width: 140px;
    height: 140px;
    background: #000;
    opacity: .03;
    border-radius: 70px;
    z-index: 10;
}
.img-con img{
    width:140px;
    height:140px;
    display: block;
    z-index:1;
}
.img-con img:hover{

    transform: translateZ(10PX);
    transition: width .3s;
}
.pp{
    width:1230px;height:90px;
    /*background: red;*/
    margin:10px auto 0;
    /*margin-top:10px;*/
}
.pp>a{
    width:1230px;height:107px;
    display:block;
    overflow:hidden;
    margin:0 auto;
    text-align:center;
}
.pp>a>img{
    display:block;
    width: 1620px;
    height: 90px;
    margin-left:-165px;
    overflow:hidden;
}
.middle-body-2{
    width:1230px;height:3270px;
    /*background:red;*/
    margin:30px auto 0;
}
.cur-pannel{
    width:1230px;height:470px;
    /*background:blue;*/
    position:relative;
    margin-bottom:30px;
}
.color-mark{
    display: inline-block;
    width:5px;height:20px;
    background:#19C8A9;
    vertical-align:top;
}
.floor-name{
    display:inline-block;
    width:72px;height:18px;
    margin-left:10px;
    /*background:red;*/
    font-size:18px;
    line-height:18px;
    color:#000;
    vertical-align:top;
}
.floor-sub-name{
    display:inline-block;
    height:18px;
    font-size:18px;
    line-height:18px;
    margin-left:10px;
    /*background:red;*/
    color:#000;
}
.hot-word-con{
    display:inline-block;
    width:800px;height:31px;
    /*background:red;*/
    top:0;
    right:0;
    position: absolute;
    text-align: right;
}
.hot-word{
    display:inline-block;
    height:20px;
    line-height:20px;
    margin:5px 10px;
    font-size:14px;
    border:none;
    color:#000;
}
.hot-word:hover{
    border-bottom:1px solid #000;
}
.line-body{
    width:100%;height:440px;
    /*background:orange;*/
    margin-top: 10px;
}
.big-banner-con{
    width:246px;height:440px;
    background:#fff;
    display:block;
    float:left;
    position:relative;
}
.big-banner-con img{
    width:246px;height:330px;
    display: block;
}
.slid-item{
     width:246px;height:30px;
    background: #fff;
     text-align:center;
     line-height:30px ;
     font-size:14px;
     position:absolute;
     bottom:110px;
 }
.slid-sub-item{
    width:100%;height:110px;
    background:#19C8A9;
    border-top: 1px solid #19C8A9;
}
.item-title-1{
    width:246px;height:33px;
    text-align:center;
    margin-top:20px;
    color: #fff;
    font-weight:700;
    font-size:22px;
}
.item-sub-title-1{
    width:246px;height:27px;
    text-align:center;
    line-height:18px;
    color: #fff;
    font-size:18px;
}
.item-sub-decoration-1{
    width:246px;height:30px;
    background:url("../images/x1.png") no-repeat center 0;
}
.body-middle-con{
    width:735px;height: 440px;
    float:left;
}
.grid{
    width:245px;height:220px;
    float:left;
    display:block;
    background:#fff;
    border-right:1px solid #f5f5f5;
    border-bottom:1px solid #f5f5f5;
    position:relative;
}
.grid-title{
    position:absolute;
    top:25px;
    left:25px;
    width:219px;
    font-size:18px;
    z-index:10;
    line-height:24px;
    height:24px;
    color:#000;
    text-overflow:ellipsis;
    overflow:hidden;
    /*background:red;*/
    white-space:nowrap;
}
.grid-sub-title{
    /*background:blue;*/
    position:absolute;
    top:54px;
    left:25px;
    width:219px;
    font-size:14px;
    color:#19C8A9;
    z-index:10;
    line-height:18px;
    height:18px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.grid img{
    width: 154px;height: 154px;
    display: block;
    position: absolute;
    bottom: 0;
    right:0;
}
.grid img:hover{
    transform:translateX(-10px);
}
.body-right-con{
    width:249px;height:440px;
    /*background:blue;*/
    float: right;
}
.spm{
    width:249px;height:146.7px;
    float: left;
    display: block;
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    position: relative;
    background-color: #fff;
}
.spm img{
    width:100px;height:100px;
    display:block;
    position: absolute;
    bottom:0;
    right:0;
}
.cur-nel{
    width:1230px;height:824px;
    /*background:blue;*/
    margin-top:30px;
}
.middle-title-2{
    width:1230px;height:694px;
    /*background:orange;*/
}
.shop-title-2{
    width:1230px;height:694px;
    /*background:red;*/
}
.shop-2{
    width:615px;height:347px;
    /*background:black;*/
    border:1px solid #fff;
    float:left;
}
.heading-2{
    width:594px;height:50px;
    /*background:red;*/
    margin: 0 auto;
}
.logo-2{
    width:110px;height:50px;
    float:left;
}
.logo-2 img{
    width:100px;height:50px;
    display: block;
    vertical-align:top;
}
.meta-2{
    width:200px;height:50px;
    float:left;
}
.title-2{
    width:200px;height:auto;
    display:block;
    font-size:16px;
    margin:5px auto;
    color:#000;
}
.see{
    width:80px;
    height:30px;
    margin-top:10px;
    color:#666;
    font-size:14px;
    line-height:30px;
    text-align:center;
    background-color:#eee;
    float:right;
}
.shop-items{
    width:606px;height:290px;
    /*background:blue;*/
}
.shop-item-2{
    width:192px;height:290px;
    /*background:red;*/
    float:left;
    margin:0 5px;
}
.poster{
    width:192px;height:200px;
    /*background:blue;*/
}
.poster img{
    width:192px;height:192px;
    display:block;
}
.title-2-2{
    width:172px;height:40px;
    color:#000;
    font-size:12px;
    line-height:18px;
    margin: 0 auto;
}
.price-2-2{
    width:172px;height:30px;
    margin: 0 auto;
    color: #dd2727;
    font-size: 16px;
    line-height:30px;
    font-weight:600;
}
.middle-body-3{
    width:1230px;height:auto;
    background:#f5f5f5;
    margin:30px auto 0;
}
.floor-cn{
    width:1230px;height:43px;
    position:relative;
    background:#f5f5f5;
    text-align:center;
    font-weight:100;
    font-size:20px;
}
.text-ctn{
    font-weight:100;
    font-size:20px;
    color:#666;
}
.middle-body-3>.floor-cn>.text-ctn:before{
     left:510px;
     content:'';
     position:absolute;
     width:30px;
     height:1px;
     background-color:#979797;
     top:18px;
 }
.floor-cn>.text-ctn>.icon{
    display:inline-block;
    color:#FF0000;
    font-weight:100;
    font-size:20px;
}
.middle-body-3>.floor-cn>.text-ctn:after{
    content: '';
    position: absolute;
    width:30px;
    height:1px;
    background-color: #979797;
    top:18px;
    right:510px;
}
.content-2{
    width:100%;height:auto;
    background:#F5F5F5;
}
.content-2-2{
    width:100%;height:auto;
    background:#F5F5F5;
}
.wonderful-line {

    height:333px;
    color: #999;
    font-size: 12px;
}
.wonderful-item{
    float:left;
    width:235px;
    margin-right:13.5px;
    margin-bottom:7px;
}
.card-item{
    display:block;
    border:2px solid #FFF;
    position:relative;
    background-color:#fff;
    overflow:hidden;
    margin-right:7px;
    margin-bottom:7px;
    width:100%;
    height:315px;
}
.item-pic{
    display: block;
    width: 100%;
    height: 235px;
    overflow: hidden;
}
.item-pic img {
    display: block;
    width: 235px;height: 235px;
}
.item-info{
    width:235px;height:91px;
    background:#fff;
    display: block;
    text-align:left;
    padding:14px 12px 8px;
}
.text-item{
    width:211px;height:34px;
    font-size:12px;
    color:#666666;
    margin:0 auto;
    display:block;
    line-height: 18px;
}
.text-price{
    width:211px;height:33px;
    font-size:14px;
    margin:0 auto;
    color:#FF0000;
    display:block;
    line-height: 18px;
}
.end-show{
    width:1230px;
}
.end-show img{
    width:80px;height:45px;
    display: block;
    margin: 0 auto;
}
/*底部开始*/
.footer{
    width:100%;
    min-height: 558px;
    border-top: 1px solid #D1D7DC;
    clear:both;
    margin:0;
    text-align:center;
    background:#fff;
    position:relative;
}
.ensure{
    width:1190px;height:100px;
    margin: 25px auto;
    background: url("../images/footer-1.jpg");
}
.pq{
    width:1190px;height:auto;
}
.pz{
    width:297px;height:100px;
    display:block;
    float: left;
}
.th{
    width:297px;height:100px;
    display:block;
    float: left;
}
.fw{
    width:297px;height:100px;
    display:block;
    float: left;
}
.bz{
    width:297px;height:100px;
    display:block;
    float: left;
}
.footer-desc{
    width:1190px;height:213px;
    border-top:1px solid #EDEDED;
    background:url(../images/index.jpg) no-repeat bottom left 52px;
    margin: 0 auto;
}
.nr{
    width:238px;height:213px;
    /*background: yellow;*/
    float:left;
    padding-top:22px;
    padding-left:52px;
    color:#8b8b8b;
}
.nr1{
    color:#646464;
    font-size:16px;
    font-weight:700;
    line-height:30px;
    text-align:left;
}
.nr2{
    height:20px;
    /*background:blue;*/
    color: #8b8b8b;
    line-height:20px;
    text-align:left;
}
.nr3{
    text-align:left;
}
.copyright{
    border-top:2px solid #c40000;
    background:#000;
    text-align:left;
    min-height:177px;
}
.gtm{
    width:1190px;
    margin:0 auto;
    color:#fff;
    line-height:25px;
    text-align:left;
    padding:5px 0;
}
.gtm a{
    display: inline-block;
    margin-right:3px;
    color:#fff;
}
.footer-right{
    width:1190px;
    margin:0 auto;
    line-height: 20px;
    background: #000;
    color: #a4a4a4;
}
.footer-right a{
    color: #a4a4a4;
    margin-right: 65px;
}
.TB a{
    margin-right: 10px;
}